body{
   display: flex;
   flex-direction: column;
   flex:1
}

.top, .footer{
   background-color: #1F2937;
}

.quote{
   background-color: #E5E7EB;
}

button, .cta{
   background-color:#3882F6 ;
}

.footer{
   color: white;
   text-align: center;
   padding:25px;
   font-size: 12px;
}